<!--suppress XmlDuplicatedId -->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
    <title>Game</title>
    <link href="/css/cells.css" rel="stylesheet">
    <script src="/js/game.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<article class="outer">
    <section class="game-inner">
        <div th:each="cell : ${cells}" class="cell" th:id="${cell}" th:text="${cell}" onclick="makeMove(this.id)">
        </div>

    </section>
    <section class="info-inner">
        <div th:if="${principal==null}">
            <form th:method="post" th:action="@{/users/login}">
                <label for="username-login">Username</label>
                <input type="text" id="username-login" name="username" required>

                <label for="password-login">Password</label>
                <input type="password" id="password-login" name="password" required>

                <button type="submit">Login</button>
                <a href="#">don't have an account</a>
            </form>
            <form th:method="post" th:action="@{/users/create}" th:object="${user}">
                <label for="username-register">Username</label>
                <input th:field="*{username}" type="text" id="username-register" required>

                <label for="password-register1">Password</label>
                <input th:field="*{password}" type="password" id="password-register1" required>

                <label for="password-register2">Password repeat</label>
                <input type="password" id="password-register2" required>

                <button type="submit">Register</button>
            </form>
        </div>

        <div th:if="${principal!=null}">
            <div th:text="${principal.getName()}"></div>
            <div id="session_info">
                <button onclick="create_session()">Create session</button>
                <hr>
                <label> Target id:
                    <input id="target_connect_input">
                </label>
                <button onclick="connect_session()">Connect session</button>
            </div>
        </div>

    </section>
</article>
</body>
</html>