.cell {
    /*width: 30px;*/
    /*height: 30px;*/
    /*display: inline-block;*/
    /*text-align: center;*/
    border: solid black 1px;
    border-radius: 5%;
    box-sizing: border-box;
    /*margin: 2px;*/
}

#game-inner {
    display: grid;
    margin: 30px;
}

#outer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.error {
    color: red;
}

.player-cell-img {
    width: inherit;
    height: inherit;
}