.cell {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    background-color: green;
    margin: 5px;
}

.game-inner {
    display: inline-block;
    width: 350px;
    border: black solid 1px;
    margin: 10px;
}

.info-inner {
    width: 200px;
    display: inline-block;
}

.outer{
    width: 600px;
    border: black solid 3px;
    margin-left: 50px;
}